/* CSS code goes here. I never imagined I would put so much into all this, but something about linear gradients is very fascinating. */

/* this color is a bit closer to the true color of daylight */
html {
    background-color: #ecf7f7;
    margin-left: 3px;
    /* the margin-right prevents a page break in Firefox it would seem */
    margin-right: 3px;
    margin-top: 0px;
    min-width: 360px;
    opacity: 0;
    animation: appear 0.4s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

header {
    background: linear-gradient(174deg, #2452a7, #3b72e0 20%, #5183e9 30%, #dadaec 96%);
    border-radius: 16px;
    width: 99.75%;
    margin-left: 2px;
    opacity: 0;
    animation: appear 0.5s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* this keeps the title elements spaced correctly, including the hidden one */
#title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* keeps title row aligned with Clear Storage button at far left while allowing for better compression on mobile */
.aligner {
    visibility: hidden;
    width: fit-content;
    height: fit-content;
    max-width: 9rem;
    border-radius: 16px;
    margin: 0.25rem;
    font-size: 0.8rem;
    padding: 0.25rem 0.75rem 0.35rem 0.75rem;
}

/* This was an earlier build where I put a gradient directly on the font. Does not work well with text shadows, unfortunately. */
/* header h1 {
    background: -webkit-linear-gradient(0.3turn, #fcfaf5, #e6dbb3);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */

/* Displayed page title attributes here */
header h1 {
    color: #f9fded;
    text-align: center;
    font-family: 'Libre Baskerville', Arial, Helvetica, sans-serif;
    font-size: 3.0rem;
    font-weight: 700;
    padding-top: 0.85rem;
    margin-bottom: 0.2rem;
    margin-right: 0.15rem;
    text-shadow: 0 0 1px #6d98f0, 0 0 2px #6d98f0, 0 0 4px #6d98f0, 0 0 8px #6d98f0, 0 0 12px #6d98f0;
    opacity: 0;
    animation: appear 0.8s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

header h1:hover {
    cursor: default;
}

/* Clearing the page and its history buttons */
#clearStorageBtn {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(0.4turn, #a5a5a5, #dbdbdb);
    max-width: 9rem;
    border-radius: 16px;
    margin: 0.25rem;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.25rem 0.75rem 0.35rem 0.75rem;
}

#clearStorageBtn:hover {
    background: linear-gradient(0.4turn, #b9b9b9, #ececec);
    border: 2px solid black;
}

/* Splash image directly below the header. */
.header-image {
    height: 7rem;
    width: 100%;
    margin-bottom: 6px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
    background-image: url("../assets/images/weather-background-splash-image.png");
    background-size: cover;
    background-position: center;
}

body {
    background: linear-gradient(0.37turn, #ecf7f7, #d6f0f0 15%, #ecf7f7, #cdf0f0 90%, #58cfcf);
    border-radius: 18px;
    border: 4px solid #ecf7f7;
}



/* displays current date and time beneath page title */
#currentDateTime {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #f8f8f8;
    margin-bottom: 0.7rem;
    margin-top: -0.35rem;
    opacity: 0;
    animation: appear 1.8s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

/* Search area and history buttons below */
#city-sidebar {
    position: relative;
    color: black;
    display: table-column-group;
    text-align: center;
    border-radius: 16px;
    min-width: 13.75rem;
    width: fit-content;
    max-width: 18%;
    margin-bottom: 6px;
    margin-left: 2px;
    min-height: 18.25rem;
    background: linear-gradient(0.545turn, #58c5ec 1%, #b0d3e0 7%, #e0f0f7, #cbe4ec 90%, #f7fdff);
    font-size: 2.05rem;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 0rem;
    padding-right: 0.75rem;
    padding-top: 2.25rem;
    padding-bottom: 3rem;
    border: 1px solid #c7cfcf;
    opacity: 0;
    animation: appear 0.6s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

#city-sidebar h2 {
    color: #31414e;
    font-size: 2rem;
    font-weight: 400;
    margin: -2px 0 -2px 6%;
    text-shadow: 0 0 1px #4e5457, 0 0 2px #66757c, 2px 2px 2px #718fa7;
    opacity: 0.96;
}

/* keeps title row aligned with Clear Storage button at far left while allowing for better compression on mobile */
#fetch-field {
    line-height: 2rem;
    text-align: center;
    font-size: 1.7rem;
    width: 94%;
    border-radius: 12px;
    border-width: 3px;
    padding: 0.3rem 0 0.3rem 0.3rem;
    margin-left: 0.9rem;
    margin-top: 0.5rem;
    background: #f5fafc;
    border: 3px inset solid #303133;
}

#fetch-field:hover {
    background: white;
}

#searchBtn {
    color: #f8f8f8;
    font-size: 1.6rem;
    text-decoration: none;
    padding: 0.3rem 0;
    min-width: 95%;
    width: fit-content;
    display: block;
    margin: 1rem 1.25rem 1.2rem 0.7rem;
    border-radius: 18px;
    border-width: 3px;
    color: #f0f0f0;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 2px;
    background: linear-gradient(0.39turn, #3d52af, #99a8eb);
    box-shadow: 3px 3px 3px #7797b8;
}

#searchBtn:hover {
    color: #f4f4f4;
    background: linear-gradient(0.45turn, #273783, #7c8cd4);
    box-shadow: 4px 4px 4px #6587a8;
}

#storedCity {
    margin-top: -0.6rem;
}

.historyBtnRow {
    display: inline-block;
    max-height: fit-content;
    margin: 0rem 0rem -1rem 0rem;
    width: 100%;
}

.historyBtn {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 2px 6px;
    width: 80%;
    min-width: fit-content;
    display: block;
    margin: 0rem -0.5rem 0.8rem -0.75rem;
    border-radius: 18px;
    border: solid 3px grey;
    color: #141414;
    border: none;
    outline: none;
    background: linear-gradient(0.41turn, #7c8cdb 8%, #b6bfe7 92%);
    box-shadow: 2px 2px 2px #8b9daf;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 0;
    animation: appear 1s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.historyBtn:hover {
    background: linear-gradient(0.41turn, #5b66a5, #a5aedb);
    box-shadow: 3px 3px 3px #5f778d;
    color: black;
}

.deleteBtn {
    color: #585a5c;
    font-weight: 400;
    font-size: 1.1rem;
    padding: 3px;
    float: left;
    border-radius: 0 1.25rem 1.25rem 0;
    background: linear-gradient(0.43turn, #c5edf7, #daf8ff);
    border: 1px solid #a1c3e0;
    border-left: #778899;
    /* background: transparent; */
    margin-top: 0.15rem;
    margin-right: 0.75rem;
    min-width: 1.35rem;
    min-height: 2.25rem;
    box-shadow: 1px 1px 1px #95a2af;
    opacity: 0;
    animation: appear 1s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 0.75;
    }
}


.deleteBtn:hover {
    color: #3a3d3d;
    background: linear-gradient(0.36turn, #83cedb, #cadee6, #dee7e7);
    box-shadow: 2px 2px 2px #778899;
    text-shadow: 0 0 1px #464a4e;
    opacity: 0.9;
}

.clear-last {
    position: absolute;
    top: 0rem;
    left: 0rem;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(0.4turn, #a5a5a5, #dbdbdb);
    max-width: 9rem;
    border-radius: 16px 0;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
}

.clear-last:hover {
    background: linear-gradient(0.4turn, #b9b9b9, #ececec);
    border: 2px solid black;
}

.clear-oldest {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    width: fit-content;
    height: fit-content;
    background: linear-gradient(0.4turn, #a5a5a5, #dbdbdb);
    max-width: 9rem;
    border-radius: 0 16px;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.25rem 0.5rem;
    opacity: 0;
    animation: appear 1.8s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.clear-oldest:hover {
    background: linear-gradient(0.4turn, #b9b9b9, #ececec);
    border: 2px solid black;
}

.card-column {
    /* width: cover; */
    max-width: 81.25%;
    flex: 0 0 auto;
}

/* Main weather info area */
.weather-card {
    color: #012247;
    background: linear-gradient(155deg, #5982a7 0%, #6b90b1 6%, #c5d7e7 40%, #a7c2da 75%);
    margin-left: 0.5%;
    max-width: 100%;
    width: cover;
    min-width: fit-content;
    border-radius: 16px 16px 0 0;
    border: 1px solid #91a0af;
    border-bottom: none;
    height: fit-content;
    position: relative;
    opacity: 0;
    animation: appear 1.2s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.overview-row {
    margin: -0.8rem 0 1.4rem -0.6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}


.over-column1,
.over-column2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.over-column1 {
    width: 18rem;
    margin-right: 0.8rem;
    margin-bottom: -0.75rem;
}

.over-column2 {
    min-width: 17.2rem;
    margin-bottom: -0.75rem;
}


.local-date {
    margin-top: -0.3rem;
    margin-bottom: 0.35rem;
}

.local-weekday {
    color: black;
    font-size: 1.45rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px #8899AA;
}

.over-column1 p {
    text-shadow: 2px 2px 2px #8899AA;
}

.big-temp {
    color: #012247;
    font-size: 5rem;
    text-shadow: 3px 3px 3px #5684b9;
    font-weight: 600;
    margin-top: -0.8rem;
    margin-bottom: 0.1rem;
    opacity: 0;
    animation: appear 1.2s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.weather-card h1 {
    font-size: 2rem;
    text-shadow: 1px 1px 1px #5684b9;
    color: black;
}

.weather-icon {
    margin-left: 0.5rem;
    margin-top: -2.25rem;
    margin-bottom: -0.2rem;
    opacity: 1;
}

.weather-card h2 {
    font-size: 1.7rem;
    color: black;
    text-shadow: 2px 2px 2px #748aa0;
}

.city-info {
    margin-top: -0.25rem;
}

.weather-card h3 {
    font-size: 1.5rem;
    color: #080808;
    text-shadow: 2px 2px 2px #8899AA;
    margin-top: -0.15rem;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}


.over-column3 {
    margin-bottom: -0.25rem;
}

.hourlyTitle {
    text-align: center;
    color: #012247;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #8899AA;
    margin-top: -0.15rem;
    margin-bottom: -0.1rem;
}

.hour-columns {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 18.5rem;
    margin-bottom: 1.1rem;
}

.weather-card h5 {
    font-size: 1.15rem;
    font-weight: 400;
    text-shadow: 1px 1px 1px #8899AA;
    margin: 0.35rem 0;
}

.hourlyForecast1,
.hourlyForecast2 {
    text-align: right;
    margin-bottom: 0.1rem;
}

.hourlyIcon1,
.hourlyIcon2 {
    display: column;
    margin-left: -1.35rem;
    height: 3rem;
    width: 1.5rem;
    margin-top: 0.25rem;
    margin-bottom: -1.5rem;
}


.hourlyTemp1,
.hourlyTemp2 {
    color: #043e81;
    margin-left: -1.75rem;
    text-align: right;
    margin-bottom: 0.1rem;
}

.icon-align {
    margin-top: -3px;
}

.weather-card h4 {
    font-size: 1.2rem;
    color: #21272c;
    text-shadow: 2px 2px 2px #8899AA;
    margin-top: -0.15rem;
}

.local-weekday {
    font-size: 1.6rem;
    margin-top: -0.4rem;
    margin-bottom: 0.15rem;
}

.weather-card h6 {
    font-size: 1.1rem;
    font-weight: 600;
    color: #5f1a1a;
    text-shadow: 0px 0px 1px #5f3535;
    margin-top: -0.15rem;
    opacity: 0;
    animation: appear 1.6s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.weather-card h6:hover {
    text-shadow: 0 0 1px #d15656, 0 0 2px #d15656;
}

.wind-note {
    color: black;
    font-size: 0.8rem;
    font-weight: 600;
    text-shadow: 1px 1px 1px #8dbae2;
}

.card-body {
    display: flex;
    flex-direction: column;
    margin-left: -0.25rem;
}

/* main information beneath weather icon and temperature */
.infoColumns {
    color: black;
    margin: -0.5rem 0 -1rem -0.6rem;
    text-shadow: 2px 2px 2px #AAAAAA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1.25rem;
    margin-bottom: -1.5rem;
}

.infoColumn1 {
    display: column;
    margin-right: 2.5rem;
    margin-left: 0rem;
    margin-bottom: 0.5rem;
}

.infoColumn2 {
    display: column;
    margin-right: 2.25rem;
    margin-bottom: 0.3rem;
    margin-top: -0.1rem;
}

.altShade {
    font-size: 1.2rem;
    color: #263950;
    ;
    font-weight: 600;
    text-shadow: 2px 2px 2px #8a9fb4;
    margin-top: -0.2rem;
    margin-bottom: 0;
}

.infoColumn3 {
    display: column;
    margin-right: 2.25rem;
    margin-bottom: 0.75rem;
    margin-top: -0.25rem;
}

.weather-card img {
    max-width: 9rem;
    max-height: 9rem;
}

/* #6-day forecast stuff below */
.multiDay {
    background: linear-gradient(to right, #aebadc, #d4def8);
    border-radius: 0 0 16px 16px;
    width: cover;
    min-width: 10rem;
    margin-left: 0.5%;
    border: 1px solid #91a0af;
    padding-bottom: 0.15rem;
    padding-top: -0.25rem;
    opacity: 0;
    animation: appear 1.2s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.multiDay h2 {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.45rem;
    margin-left: 0.75rem;
}

#multiDayForecast {
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -2.2%;
    margin-bottom: 6px;
}

.forecastMultiCard {
    position: relative;
    color: white;
    flex-wrap: wrap;
    background: linear-gradient(0.55turn, #40547a, #93abce, #365180);
    margin: 0.5% 0.5% 0 0;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: left;
    border-radius: 12px;
    width: 16.1%;
    min-width: 9.5rem;
    max-width: 15rem;
    height: fit-content;
    opacity: 0;
    animation: appear 1.4s ease forwards;
}

@keyframes appear {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.forecastMultiCard img {
    margin-top: -1.1rem;
    margin-bottom: -0.3rem;
    width: 50%;
    height: 50%;
}

.forecastMultiCard h4 {
    margin-bottom: 0.46rem;
    font-size: 1.2rem;
    color: #e8ecc3;
    text-shadow: 1px 1px 1px #5f6b8b;
}

.forecast-day {
    color: #e8ecc3;
    text-shadow: 1px 1px 1px #5f6b8b;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -0.5rem;
}

.forecastMultiCard h5 {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 0.35rem;
}

.forecastMultiCard h6 {
    font-size: 0.8rem;
    margin-top: -1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: #ffada2;
    /* text-shadow: 1px 1px 0px #cc8989; */
}


/* Place Not Found pop-up stuff */

.error-popup {
    display: hidden;
    position: fixed;
    padding-top: 14rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(6, 36, 68, 0.35);
}

.error-message {
    background: linear-gradient(0.475turn, #d4dde9, #f4f9fd);
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem 2rem;
    border: 1px solid #5a6164;
    width: 30rem;
}

.error-message p {
    text-align: center;
    color: #2a2a2e;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
    margin-bottom: 0rem;
}

/* The Close Button */
.close-error {
    color: #828c9c;
    float: right;
    font-size: 1.25rem;
    font-weight: 600;
    margin-top: -1.15rem;
    margin-right: -1.15rem;
}

.close-error:hover,
.close-error:focus {
    color: #42464b;
    text-shadow: 0 0 1px #708090, 1px 1px 1px #708090;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 1208px) {
    #city-sidebar {
        min-width: 24.5%;
    }


    #fetch-field {
        font-size: 1.55rem;
    }

    #searchBtn {
        font-size: 1.5rem;
        padding: 0.2rem 0;
    }

    .historyBtn {
        margin-right: 10%;
    }

    .card-column {
        max-width: 75%;
    }

    .aligner-up {
        margin-top: -2.8rem;
    }
}

@media screen and (max-width: 1000px) {

    #searchBtn {
        font-size: 1.4rem;
    }

    .historyBtn {
        margin-right: -2rem;
        font-size: 1.4rem;
        max-height: 4.2rem;
        margin-left: 0;
        max-width: 72%;
    }
}


@media screen and (max-width: 768px) {
    #title-row {
        justify-content: space-around;
        position: relative;
    }

    .aligner {
        display: none;
    }

    header {
        position: relative;
    }

    header h1 {
        font-size: 2.75rem;
        margin-top: -0.5rem;
        margin-bottom: 0.5rem;
        padding-top: 0.5rem;
    }

    #clearStorageBtn {
        color: black;
        position: absolute;
        background: rgba(191, 193, 196, 0.7);
        border: 1px solid #365e99;
        border-radius: 16px 0 0 0;
        margin: 0;
        right: 0rem;
        bottom: -1.9rem;
        padding: 0.25rem 0.6rem;
        font-size: 0.75rem;
    }

    #clearStorageBtn:hover {
        border: 1px solid black;
    }

    .clear-last {
        color: black;
        background: rgba(191, 193, 196, 0.7);
        border: 1px solid #879494;
        border-radius: 16px 0;
        padding: 0.25rem 0.6rem;
        font-size: 0.8rem;
    }

    .clear-last:hover {
        border: 1px solid black;
    }

    .clear-oldest {
        color: black;
        background: rgba(191, 193, 196, 0.7);
        border: 1px solid #879494;
        bottom: 0;
        left: 0;
        border-radius: 0 16px;
        padding: 0.25rem 0.6rem;
        font-size: 0.8rem;
    }

    .clear-oldest:hover {
        border: 1px solid black;
    }

    #currentDateTime {
        font-size: 1rem;
        margin-right: 0.4rem;
    }

    #city-sidebar {
        min-width: 99%;
        padding-top: 2rem;
        padding-bottom: 2.75rem;
    }

    #fetch-field {
        margin-left: 20%;
        margin-right: 18%;
        width: 62%;
    }

    #searchBtn {
        font: 1.7rem;
        margin-left: 20%;
        margin-right: 18%;
        min-width: 62%;
    }

    .deleteBtn {
        font: 1.35rem;
        min-width: 1.5rem;
        max-height: 2.1rem;
        opacity: 0.65;
        border: 1px solid #708c99;
        border-left: transparent;
        box-shadow: none;
    }

    .historyBtn {
        font: 1.25rem;
        margin-left: 20%;
        margin-right: 18%;
        max-width: 62%;
    }

    .card-column {
        min-width: 99%;
    }

    .aligner-up {
        margin-top: -3.2rem;
    }

    .infoColumn2 {
        margin-right: 1rem;
    }

    .icon-align {
        margin-top: -4px;
    }

    .error-message {
        max-width: 80%;
    }
}

@media screen and (max-width: 476px) {
    header h1 {
        font-size: 2.55rem;
        margin-top: -0.2rem;
        margin-left: 2rem;
        margin-right: 2rem;
    }

    #clearStorageBtn {
        background: rgba(191, 193, 196, 0.7);
        top: 0;
        right: 0;
        border-radius: 0 16px 0 16px;
        font-size: 0.6rem;
        padding: -0.15rem 1.25rem;
    }

    .clear-last {
        background: rgba(191, 193, 196, 0.5);
        font-size: 0.7rem;
        padding: -0.15rem 0.1rem;
    }

    #city-sidebar {
        padding-bottom: 2.5rem;
    }

    .clear-oldest {
        background: rgba(191, 193, 196, 0.5);
        font-size: 0.7rem;
        padding: -0.15rem 0.1rem;
    }

    #fetch-field {
        margin-left: 12.5%;
        margin-right: 17%;
        width: 80%;
    }

    #searchBtn {
        margin-left: 11.5%;
        width: 80%;
    }

    .historyBtn {
        margin-left: 21%;
    }

    #multiDayForecast {
        justify-content: space-between;
        margin-left: -0.65rem;
        margin-right: -1rem;
    }

    .forecastMultiCard {
        width: 49%;
    }
}