/* CSS code goes here */
html {
    background-color: rgb(236, 247, 247);
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
}

header {
    background: linear-gradient(#264075,#4b7de2);
    border-radius: 15px;
}

#title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
}

#clearStorageBtn {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to right, rgb(185, 185, 185),rgb(236, 236, 236));
    max-width: 9rem;
    /* float: left; */
    border-radius: 16px;
    margin: 0.5rem 1.4rem 0.5rem 1.4rem;
    font-size: 1rem;
    font-weight: 500;
    padding: 4px;
}


header h1 {
    color: rgb(250, 247, 228);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.6rem;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 2px;
}

/* keeps title row aligned with Clear Storage button at far left while allowing for better compression on mobile */
.aligner {
    border-radius: 16px;
    visibility: hidden;
    margin: 1rem;
}

.header-image {
    height: 10rem;
    width: 100%;
    margin-bottom: 12px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../Assets/images/weather-background-hero.png");
    background-size: cover;
    background-position: center;
    margin-right: 4px;
}

body {
    max-width: 100%;
    background-color:rgb(233, 246, 250);
}

/* not currently called */
#currentDay {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


/* displays current date and time beneath page title */
#currentDateTime {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

#city-sidebar {
    color: black;
    background-color: lightskyblue;
    display: block;
    float: left;
    text-align: center;
    border-radius: 10px;
    /* change the max-width after de-bugging!!!! */
    width: fit-content;
    max-width: 22rem;
    margin-left: 3px;
    min-height: 48rem;
    background-color: rgb(205, 232, 241);
    font-size: 2.5rem;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 1rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
}

#fetch-field {
    line-height: 2.2rem;
    text-align: center;
    font-size: 2rem;
    width: 90%;
    border-radius: 10px;
    border-width: 3px;
    padding: 5px 0 5px 10px;
    margin-left: 5px;
}

#searchBtn {
    font-size: 1.75rem;
    text-decoration: none;
    padding: 5px 0 5px 0;
    min-width: 90%;
    width: fit-content;
    display: block;
    margin: 1rem;
    margin-bottom: 1.8rem;
    border-radius: 20px;
    border-width: 3px;
    color: rgb(231, 231, 231);
    border: none;
    outline: none;
    background: linear-gradient(to right, rgb(61, 82, 175), rgb(153, 168, 235));
    box-shadow: 3px 3px darkgrey;
}

.historyBtn {
    font-size: 1.75rem;
    text-decoration: none;
    padding: 6px 5px;
    width: 90%;
    display: block;
    margin: 1rem;
    margin-top: 0.5rem;
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 20px;
    border-width: 3px;
    color: black;
    background-color: rgb(151, 149, 141);
    text-shadow: darkgrey;
    border: none;
    outline: none;
    background: linear-gradient(to right, rgba(127, 139, 196, 0.562), rgba(186, 196, 240, 0.562));
    box-shadow: 3px 3px darkgrey;
}


/* not currently used */
#city-button {
    background: transparent;
}

.weather-card {
    color: black;
    background: linear-gradient(rgb(110, 147, 179),rgb(141, 186, 226));
    width: fit-content;
    border-radius: 10px;
    width: 100%;
    height: fit-content;
}

.weather-card h1 {
    font-size: 2.5rem;
    color: black;
}

.weather-card h2 {
    color: black;
    text-shadow: 2px 2px 2px #AAAAAA; 
}

.card-body {
    display: flex;
    flex-direction: column;
}

.infoColumns {
    color: black;
    text-shadow: 2px 2px 2px #AAAAAA;
    display: flex;
    flex-direction: row;
}

.infoColumn1 {
    display: column;
    margin-right: 2.4rem;
}

.infocolumn2 {
    display: column;
}

.weather-card img {
    max-width: 10rem;
    max-height: 10rem;
}


.fiveDayTitle {
    font-size: 1.75rem;
    font-weight: 600;
    margin: 0.5rem;
    margin-left: 2rem;
}

.city-title {
    font-size: 1.8rem;
}

#clearEverything {
        color: rgb(56, 56, 56);
        background-color: rgba(255, 255, 255, 0.863);
        border-radius: 6px;
        width: fit-content;

        font-size: 2rem;
        padding: 6px;
}

.forecast5Card {
    font-size: 1 rem;
    color: white;
    flex-wrap: wrap;
    background: linear-gradient(rgb(51, 45, 75),rgb(96, 85, 141));
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: left;
    border-radius: 12px;
    width: 18%;
    min-width: 12rem;
    height: fit-content;
}

.forecast5Card img {
    width: 50%;
    height: 50%;
}

.forecast5Card h4 {
    font-size: 1.8rem;
    color: rgb(232, 236, 195);
    flex: wrap;
}

.forecast5Card h5 {
    font-size: 1.5rem;
    color: white;
    flex: wrap;
}

/* this area is just the background to the 5 Day Forecast area and ended up not being needed */
/* #fiveDayForecast {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
} */

.card-date {
    color: rgb(241, 245, 205);
}