/* CSS code goes here */

/* this color is a bit closer to the true color of daylight */
html {
    background-color: #ecf7f7;
    margin-left: 7px;
    /* the margin-right prevents a tablebreak in Firefox it would seem */
    margin-right: 7px;
    margin-top: 4px;
    min-width: 360px;
}

header {
    background: linear-gradient(0.49turn, #264075, #5183e9);
    border-radius: 15px;
    width: 99.75%;
    margin-left: 2px;
}

/* this keeps the title elements spaced correctly, including the hidden one */
#title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Clearing the page and its history buttons */
#clearStorageBtn {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(0.4turn, #a5a5a5, #dddddd);
    max-width: 9rem;
    border-radius: 16px;
    margin: 0.5rem 0 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.3rem 0.75rem;
}

#clearStorageBtn:hover {
    background: linear-gradient(0.4turn, #b9b9b9, #ececec);
}


header h1 {
    background: -webkit-linear-gradient(0.265turn, #fcfaf5, #e0dab9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #faf7e4; */
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 600;
    padding-top: 18px;
}

/* keeps title row aligned with Clear Storage button at far left while allowing for better compression on mobile */
.aligner {
    visibility: hidden;
    font-size: 0.8rem;
    margin: 1rem;
}

.header-image {
    height: 8.4rem;
    width: 100%;
    margin-bottom: 6px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../Assets/images/weather-background-hero.png");
    background-size: cover;
    background-position: center;
}

body {
    background-color: #e9f6fa;
}

/* not currently called */
#currentDay {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


/* displays current date and time beneath page title */
#currentDateTime {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: 600;
    color: #f8f8f8;
    margin-bottom: 0.7rem;
    margin-top: -0.25rem;
}

#city-sidebar {
    color: black;
    display: table-column-group;
    text-align: center;
    border-radius: 10px;
    min-width: 10.5rem;
    width: fit-content;
    max-width: 18%;
    margin-bottom: 6px;
    margin-left: 2px;
    min-height: 18.25rem;
    background: linear-gradient(0.49turn, #b0d3e0, #d4ebf3);
    font-size: 2.5rem;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 0.25rem;
    padding-right: 1.25rem;
    padding-top: 1rem;
}

#city-sidebar h2 {
    color: #272c30;
    font-size: 2rem;
    font-weight: 600;
    margin: -2px 0;
    text-shadow: 1px 1px 1px #8c8c8c;
}


#fetch-field {
    line-height: 2rem;
    text-align: center;
    font-size: 1.7rem;
    width: 94%;
    border-radius: 10px;
    border-width: 3px;
    padding: 5px 0 5px 10px;
    margin-left: 0.75rem;
    background: #f5fafc;
}

#fetch-field:hover {
    background: white;
}


#searchBtn {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 5px 0 5px 0;
    min-width: 95%;
    width: fit-content;
    display: block;
    margin: 1rem 1.2rem 1.2rem 0.8rem;
    border-radius: 18px;
    border-width: 3px;
    color: #f0f0f0;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(0.39turn, #3d52af, #99a8eb);
    box-shadow: 3px 3px 3px #7797b8;
}

#searchBtn:hover {
    color: #e8e8e8;
    background: linear-gradient(0.45turn, #2d42a3, #8394e0);
    box-shadow: 4px 4px 4px #6587a8;
}

.historyBtn {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 2px 6px;
    width: 95%;
    display: block;
    margin: 0.1rem 1.2rem 0.8rem 0.8rem;
    border-radius: 18px;
    border-width: 3px;
    color: #101010;
    border: none;
    outline: none;
    background: linear-gradient(0.41turn, #7f8bc4, #bac4f0);
    box-shadow: 2px 2px 2px #8b9daf;
}

.historyBtn:hover {
    background: linear-gradient(0.41turn, #7176b2, #a9b2dd);
    box-shadow: 3px 3px 3px #5f778d;
    color: black;
}

.card-column {
    /* width: cover; */
    max-width: 81.25%;
    flex: 0 0 auto;
}

/* Main weather info area */
.weather-card {
    color: #012247;
    background: linear-gradient(0.44turn, #6b90b1, #8dbae2, #a7c2da);
    margin-left: 0.5%;
    max-width: 100%;
    width: cover;
    min-width: fit-content;
    border-radius: 10px 10px 0 0;
    border: 1px solid #91a0af;
    border-bottom: none;
    height: fit-content;
    position: relative;
}

.overview-row {
    margin: -0.5rem 0 -0.25rem -0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.over-column1,
.over-column2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.over-column1 {
    width: 18rem;
    margin-right: 0.8rem;
}

.local-weekday {
    color: black;
    font-size: 1.45rem;
    font-weight: 500;
    text-shadow: 2px 2px 2px #8899AA;
    margin-top: -0.6rem;
}

.over-column1 p {
    text-shadow: 2px 2px 2px #8899AA;
}

.big-temp {
    color: #012247;
    font-size: 5rem;
    text-shadow: 3px 3px 3px #5684b9;
    font-weight: 600;
    margin-top: -1.6rem;
}

.weather-card h1 {
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px #5684b9;
    color: black;
}

.weather-icon {
    margin-left: 0.5rem;
    margin-top: -2.2rem;
    margin-bottom: 0.5rem;
}

.weather-card h2 {
    font-size: 1.7rem;
    color: black;
    text-shadow: 2px 2px 2px #8899AA;
}

.weather-card h3 {
    font-size: 1.6rem;
    color: black;
    text-shadow: 2px 2px 2px #8899AA;
}

.weather-card h4 {
    font-size: 1.2rem;
    color: black;
    text-shadow: 1px 1px 1px #8899AA;
}


.card-body {
    display: flex;
    flex-direction: column;
    margin-left: -0.25rem;
}

/* main information beneath weather icon and temperature */
.infoColumns {
    color: black;
    margin: -0.5rem 0 -0.25rem -0.5rem;
    text-shadow: 2px 2px 2px #AAAAAA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1rem;
}

.infoColumn1 {
    display: column;
    margin-right: 2.5rem;
    margin-left: 0rem;
}

.infocolumn2 {
    display: column;
}

.weather-card img {
    max-width: 9rem;
    max-height: 9rem;
}

.country-code {
    position: absolute;
    text-justify: right;
    bottom: -0.35rem;
    right: 0;
    font-size: 1.2rem;
    font-weight: 500;
    text-shadow: 1px 1px 2px #8899AA;
    margin: 1rem;
}


.multiDay {
    background: linear-gradient(to right, #aebadc, #cfdaf5);
    border-radius: 0 0 10px 10px;
    width: cover;
    min-width: 10rem;
    margin-left: 0.5%;
    border: 1px solid #91a0af;
    padding-bottom: 4px;
}

.multiDayTitle {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    margin-left: 0.75rem;
}

#multiDayForecast {
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -2.2%;
    margin-bottom: 6px;
}

.forecastMultiCard {
    color: white;
    flex-wrap: wrap;
    background: linear-gradient(0.53turn, #332d4b, #8187a3, #60558d);
    margin: 0.5% 0.5% 0 0;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: left;
    border-radius: 12px;
    width: 16.1%;
    min-width: 9.5rem;
    max-width: 15rem;
    height: fit-content;
}

.forecastMultiCard img {
    margin-top: -0.8rem;
    margin-bottom: -0.2rem;
    width: 50%;
    height: 50%;
}

.forecastMultiCard h4 {
    font-size: 1.2rem;
    text-shadow: 1px 1px 1px rgb(52, 50, 78);
    color: #e8ecc3;
}

.forecast-day {
    color: #e8ecc3;
    font-size: 1rem;
    font-weight: 500;
    margin-top: -0.5rem;
}

.forecastMultiCard h5 {
    font-size: 0.9rem;
    color: white;
    margin-bottom: 0.35rem;
}


/* Place Not Found pop-up stuff */

.error-popup {
    display: hidden;
    position: fixed;
    padding-top: 14rem;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(5, 34, 66, 0.35);
}

.error-message {
    background: linear-gradient(0.475turn, #d4dde9, #f4f9fd);
    border-radius: 15px;
    margin: auto;
    padding: 1.5rem 2rem;
    border: 1px solid #5a6164;
    width: 30rem;
}

.error-message p {
    text-align: center;
    color: #2a2a2e;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 2px 2px 2px #b9cde6;
}

/* The Close Button */
.close-error {
    color: #5f5f5f;
    float: right;
    position: relative;
    top: 0;
    right: 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.close-error:hover,
.close-error:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .card-column {
        min-width: 99%;
    }

    #city-sidebar {
        min-width: 99%;
    }

    .historyBtn {
        margin-left: 12.5%;
        margin-right: 12.5%;
        justify-content: center;
        max-width: 75%;
    }

    .country-code {
        font-size: 1rem;
        margin: 0.35rem;
        margin-right: 0.2rem;
    }
}

@media screen and (max-width: 500px) {
    #multiDayForecast {
        justify-content: space-between;
        margin-left: -0.65rem;
        margin-right: -1rem;
    }
    .forecastMultiCard {
        width: 49%;
    }
    .aligner {
        display: none;
    }
}