/* CSS code goes here */
html {
    background-color: #ecf7f7;
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 4px;
    min-width: 360px;
}

header {
    background: linear-gradient(#264075,#4b7de2);
    border-radius: 15px;
}

#title-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#clearStorageBtn {
    width: fit-content;
    height: fit-content;
    background: linear-gradient(to right, #b9b9b9,#ececec);
    max-width: 9rem;
    border-radius: 16px;
    margin: 0.5rem 0 0 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
    padding: 0.4rem 0.75rem;
}


header h1 {
    color: #faf7e4;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.2rem;
    font-weight: 600;
    padding-top: 18px;
}

/* keeps title row aligned with Clear Storage button at far left while allowing for better compression on mobile */
.aligner {
    visibility: hidden;
    font-size: 0.8rem;
    margin: 1rem;
}

.header-image {
    height: 8.4rem;
    width: 100%;
    margin-bottom: 6px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    background-image: url("../Assets/images/weather-background-hero.png");
    background-size: cover;
    background-position: center;
}

body {
    max-width: 100%;
    background-color:#e9f6fa;
}

/* not currently called */
#currentDay {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}


/* displays current date and time beneath page title */
#currentDateTime {
    justify-self: center;
    align-self: center;
    text-align: center;
    font-size: 1.25rem;
    font-weight: bold;
    color: white;
}

#city-sidebar {
    color: black;
    display: table-column-group;
    /* float: left; */
    text-align: center;
    border-radius: 10px;
    min-width: 13.5rem;
    width: fit-content;
    max-width: 18%;
    margin-bottom: 6px;
    min-height: 19.4rem;
    background: linear-gradient(#b3d6e2,#d4ebf3);
    font-size: 2.5rem;
    font-family: Calibri, 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    padding-left: 1rem;
    padding-right: 1.2rem;
    padding-top: 1rem;
}
#city-sidebar h2 {
    color:#272c30;
    font-weight: 600;
    margin: -2px 0;
    text-shadow: 1px 1px 1px #8c8c8c;
}


#fetch-field {
    line-height: 2rem;
    text-align: center;
    font-size: 1.7rem;
    width: 94%;
    border-radius: 10px;
    border-width: 3px;
    padding: 5px 0 5px 10px;
    margin-left: 0.75rem;
}

#searchBtn {
    font-size: 1.6rem;
    text-decoration: none;
    padding: 5px 0 5px 0;
    min-width: 95%;
    width: fit-content;
    display: block;
    margin: 1rem;
    margin-left: 0.8rem;
    margin-right: 1.2rem;
    margin-bottom: 1.2rem;
    border-radius: 18px;
    border-width: 3px;
    color: #e7e7e7;
    border: none;
    outline: none;
    padding-left: 4px;
    padding-right: 4px;
    background: linear-gradient(to right, #3d52af, #99a8eb);
    box-shadow: 3px 3px 3px rgb(119, 151, 184);
}

.historyBtn {
    font-size: 1.4rem;
    text-decoration: none;
    padding: 2px 6px;
    width: 95%;
    display: block;
    margin: 1rem;
    margin-top: 0.1rem;
    margin-bottom: 0.8rem;
    margin-left: 0.8rem;
    margin-right: 1.2rem;
    border-radius: 18px;
    border-width: 3px;
    color: black;
    border: none;
    outline: none;
    background: linear-gradient(to right, #7f8bc48f, #bac4f08f);
    box-shadow: 2px 2px 2px #8b9daf;
}

.card-column {
    max-width: 81.5%;
}

/* Main weather info area */
.weather-card {
    color: #012247;
    background: linear-gradient(#6e93b3,#8dbae2);
    margin-left: 0.5%;
    width: 100%;
    min-width: 20rem;
    border-radius: 10px 10px 0 0;
    border: 1px solid #91a0af;
    border-bottom: none;
    height: fit-content;
}

.overview-row {
    margin: -0.5rem 0 -0.25rem -0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.over-column1, .over-column2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.over-column1 {
    width: 18rem;
    margin-right: 0.8rem;
}

.big-temp {
    color: #012247;
    font-size: 5rem;
    text-shadow: 3px 3px 3px #5684b9;
    font-weight: 600;
    margin-top: -1.6rem;
}

.weather-card h1 {
    font-size: 2.2rem;
    text-shadow: 1px 1px 1px #5684b9;
    color: black;
}

.weather-icon {
    margin-left: 0.5rem;
    margin-top: -2.2rem;
    margin-bottom: 0.5rem;
}

.weather-card h2 {
    font-size: 1.7rem;
    color: black;
    text-shadow: 2px 2px 2px #8899AA;
}

.weather-card h3 {
    font-size: 1.6rem;
    color: black;
    text-shadow: 2px 2px 2px #8899AA;
}

.weather-card h4 {
    font-size: 1.2rem;
    color: black;
    text-shadow: 1px 1px 1px #8899AA;
}


.card-body {
    display: flex;
    flex-direction: column;
    margin-left: -0.25rem;
}

/* main information beneath weather icon and temperature */
.infoColumns {
    color: black;
    margin: -0.5rem 0 -0.25rem -0.5rem;
    text-shadow: 2px 2px 2px #AAAAAA;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: -1rem;
}

.infoColumn1 {
    display: column;
    margin-right: 2.5rem;
    margin-left: 0rem;
}

.infocolumn2 {
    display: column;
}

.weather-card img {
    max-width: 9rem;
    max-height: 9rem;
}

.multiDay {
    background: linear-gradient(to right, #aebadc, #cfdaf5);
    border-radius: 0 0 10px 10px;
    width: 100%;
    min-width: 20rem;
    margin-left: 0.5%;
    border: 1px solid #91a0af;
    padding-bottom: 4px;
}

.multiDayTitle {
    font-size: 1.75rem;
    font-weight: 600;
    margin-top: 0.5rem;
    margin-bottom: 0.4rem;
    margin-left: 0.75rem;
}

#multiDayForecast {
    margin-left: -5px;
    margin-right: -2.2%;
    margin-bottom: 6px;
}

.forecastMultiCard {
    color: white;
    flex-wrap: wrap;
    background: linear-gradient(#332d4b,#60558d);
    margin: 0.5% 0.5% 0 0;
    padding: 0.5rem 0.25rem 0.25rem 0.25rem;
    text-align: left;
    border-radius: 12px;
    width: 16.15%;
    min-width: 9.5rem;
    max-width: 15rem;
    height: fit-content;
}

.forecastMultiCard img {
    margin-top: -0.6rem;
    width: 50%;
    height: 50%;
}

.forecastMultiCard h4 {
    font-size: 1.2rem;
    color: #e8ecc3;
    flex: wrap;
}

.forecastMultiCard h5 {
    font-size: 0.9rem;
    color: white;
    flex: wrap;
}

.card-date {
    color: #f1f5cd;
}

.col-md-8 {
    max-width: 70%;
    width: auto;
    min-width: 15rem;
}
